@font-face {
    font-family: 'Kashima Brush Demo';
    src: url('KashimaBrushDemo.woff2') format('woff2'),
        url('KashimaBrushDemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

